@tailwind base;
@tailwind components;
@tailwind utilities;

#particles canvas{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
#particles2 canvas{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  /* background-color: #00010D; */
}

/* btn sosmed */
.btn-sosmed {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(120deg, #1ebea5, #00e676, #1ebea5);
  position: relative;
  z-index: 0;
  transition: 0.1s;
}

.btn-sosmed:nth-child(2) {
  background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
}

.btn-sosmed:nth-child(3) {
  background: #4267b2;
}

.btn-sosmed:nth-child(4) {
  background: #000;
}
.btn-sosmed:nth-child(5) {
  background: #0A66C2;
}


.btn-sosmed:active {
  transform: scale(0.85);
}

.btn-sosmed::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #00010D;
  border-radius: 50px;
  z-index: -1;
  border: 0px solid rgba(255, 255, 255, 0.411);
  transition: 0.4s;
}

.btn-sosmed:hover::before {
  width: 0px;
  height: 0px;
}

/* btn download */
.cvBtn {
  width: 150px;
  height: 44px;
  border-radius: 40px;
  border: 1px solid #E5E0E1;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
}

.IconContainer {
  width: 50px;
  height: 36px;
  background: #E5E0E1;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E5E0E1;
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 16px;
}

.cvBtn:hover .IconContainer {
  width: 150px;
  transition-duration: 0.5s;
}

.cvBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.5s;
}

.cvBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}
@media (max-width: 768px){
  .cvBtn {
    width: 120px;
    height: 44px;
  }
  .IconContainer {
    width: 55px;
  }
  .text {
    font-size: 14px;
  }
}
@media (min-width: 1800px) {
  .cvBtn {
      width: 200px;
      height: 50px;
      border-radius: 40px;
      border: 1px solid #E5E0E1;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition-duration: 0.5s;
      overflow: hidden;
    }
    .cvBtn:hover .IconContainer {
      width: 200px;
      transition-duration: 0.5s;
    }
    .text {
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #E5E0E1;
      z-index: 1;
      transition-duration: 0.5s;
      font-size: 20px;
    }
}

/* form */
.form-group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.form-field {
  width: 100%;
  border: none;
  border-bottom: 2px solid #E5E0E1;
  outline: 0;
  font-size: 17px;
  color: #E5E0E1;
  padding: 8px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form-field::placeholder {
  color: transparent;
}

.form-field:placeholder-shown ~ .form-label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #E5E0E1;
  pointer-events: none;
}

.form-field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #091384, #215BB8);
  border-image-slice: 1;
}

.form-field:focus ~ .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #E5E0E1;
  font-weight: 600;
}
  textarea {
  width: 100%;
  resize: none;
  height: 96px;
  border: 2px solid #E5E0E1;
  background-color: transparent;
}
  textarea:focus {
  outline: none;
  border: 2px solid #215BB8;
}
/* submit form */
.btnSubmit {
  background: #E5E0E1;
  color: #00010D;
  border: 1px solid #E5E0E1;
  border-radius: 0.625em;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .btnSubmit {
    font-size: 14px;
  }
  .form-field {
    font-size: 14px;
  }
  .form-label {
    font-size: 14px;
  }
  .form-field:placeholder-shown ~ .form-label {
    font-size: 14px;
  }
  .form-field:focus ~ .form-label {
    font-size: 14px;
  }
  .label_txt{
    font-size: 14px;
  }
}
@media (min-width: 1300px) {
  .btnSubmit {
    font-size: 18px;
  }
  .form-field {
    font-size: 18px;
    padding: 10px 0;
  }
  .form-label {
    font-size: 18px;
  }
  .form-field:placeholder-shown ~ .form-label {
    font-size: 18px;
  }
  .form-field:focus ~ .form-label {
    font-size: 18px;
  }
  .label_txt{
    font-size: 18px;
  }
}

.btnSubmit:hover {
  color: #E5E0E1;
}

.btnSubmit:after {
  content: "";
  background: #00010D;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btnSubmit:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}


/* scrollbar hero */
/* width */
::-webkit-scrollbar {
  width: 4px;
  margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00010D;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E5E0E1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E5E0E1;
}
